.contents {
  min-height: 40rem;
}

.result,
.result-top-ten,
.result-action,
.result-drama,
.result-animation {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title-top-ten,
.title-action,
.title-drama,
.title-animation,
.title-user-based,
.title-movie-based {
  margin: 4rem 0rem 1rem 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.card {
  margin: 0.8rem 0.2rem;
  width: 11rem;
  height: 16rem;
  flex-direction: column;
  justify-content: center;
  background-color: #a1b3cf;
}
.card-text {
  margin: 0 auto;
  color: black;
  font-weight: bold;
  line-height: 1.5rem;
  text-align: center;
  word-break: keep-all;
}

.card-img {
  height: 100%;
}
